
@font-face {
    font-family: SweiSpringCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff) format("woff");
  }


  h1,h2,h3,h4,h5,h6, .font-CJK{
      font-family: SweiSpringCJKtc-Regular !important;
  }

div[id^="lawyer"]{
    position: relative;
    top: -200px;
    height: 0px;
    width: 0px;
}
.service_icon{
    width: 50px;
}
.team .member-photo img.img-fluid{
    width: 100%;
}
.team .team-member{
    height: 100%;
}
.page-link{
    padding: 0.5rem 1rem;
}
.navbar-toggler{
    font-size: 0.85rem !important;
}

.team h2,
.team .h2{
    font-size: 1.5rem;
}
.team p{
    color: #000;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}
ul.contact-short-info > li{
    margin-bottom: 10px;
}
.bg-gray-section{
    padding: 100px 0;
    background: #F6F6F6;
}
.single-page-header{
    padding: 110px 0 35px;
}
.blog1 .sidebar{
    padding-top: 70px;
}
.blog2 .sidebar{
    padding-top: 20px;
}
.img-fluid-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.googlemap iframe,
.gmap iframe{
    -webkit-filter:grayscale(1);
}

.bg-primay-light{
    background-color: rgb(237, 247, 246);
}

.resume-content{
    border-left: 3px solid var(--gray-200, #6c757d);
}
.resume-title{
    width:  120px;
}
.post-wrap{
    padding: 70px 30px;
    border-bottom: 1px solid var(--gray-200, #6c757d);
}
.widget-post-image{
    overflow: unset;
}
.widget-post-image img{
    width: 130px;
    object-fit: cover;
}
.tag{
    display: inline-block;
    margin-right: 15px;
    color: var(--primary);
}
.tag::before{
    content: '#';
}
.post-wrap-card{
    padding: 50px 30px;
    margin-bottom: 40px;
    border:1px solid var(--gray-200);
    border-radius: 15px;
    box-shadow: 2px 2px 30px var(--gray-300);
}
.post-date{
}
.post-date > div{
    padding: 15px 15px 15px 15px;
    border-left: 2px solid var(--gray-200, #6c757d);
    text-align: center;
}
.contact-details .contact-short-info li,
.team .contact-short-info li{
    margin-bottom: 12px;
}
.social-icon a{
    display: contents;
}
.social-icon i{
    color:#fff;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 100%;
    text-align: center;
}
.social-icon span.line-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: url('../images/LINE_APP_Android.png');
    background-size: cover;
    margin-right: 10px;
}
.social-icon .fa-facebook-f{
    background: #15a2fa;
}
.social-icon .fa-phone{
    background: #ababab;
}
.social-icon .fa-instagram{
    background: linear-gradient(
        45deg
        , #f3b664, #a02ba6);
}
.logo-default,
.logo-white{
    height: 60px;
}
.post-item img.img-fluid{
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.line-height-2 p{
    line-height: 2em;
}
h3,.h3{
    font-size: 1.2rem;
}
.post-item .content h3{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.post-item .content p{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
#map {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 2;
}
.googlemap{
    position: relative;
    background: #F6F6F6;
}
.googlemap-contactus{
    width: 400px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -500px;
    z-index: 3;
}
.googlemap-contactus p.text-white a{
    color: white !important;
}

a[href^="tel"]{
    color:inherit !important;
    text-decoration:none !important;
}

.googlemap-contactus h3{
    margin-bottom: 50px;
}
.navigation .navbar-light .navbar-toggler{
    background-color: #fff;
}

.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
}
.timeline h3{
    font-weight: lighter;

}
.timeline p, .timeline time {
    color: var(--blue)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--gray-200);
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 30px var(--gray-300);
    padding: 20px 30px 50px 30px !important;
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
    position: relative;
    top: 0.2em;
    font-size: 1.5rem;
}

.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
    position: relative;
    top: 0.2em;
    font-size: 1.5rem;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 1.7rem;
    left: 100%;
    width: 0;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 100;
    height: 50px;
    top: 0.8em;
}
.timeline-image::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid var(--blue);
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;


}
.timeline-image img {
    position: relative;
    z-index: 100;
}
.about-section-2{
    margin-top: 100px;
}
/*small device style*/

@media (max-width: 767px) {
    /*.about-section-2{
        margin-top: 50px;
    }*/
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
    }
    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }
        .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed var(--blue);
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }
    .timeline h3 {
        font-size: 1.7rem;
    }
    .timeline p {
        font-size: 14px;
    }
    .timeline-image {
        position: absolute;
        left: 0%;
        top: 73px;
        /*transform: translateX(-50%;);*/
    }
    .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }
    .timeline-image::before {
        width: 20px;
        height: 20px;
    }
    .slider-item h1{
        font-size: 32px;
    }
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 20px;
    height: 20px;
}
.footer-logo{
    width: 100%;
    height: auto !important;
}
}
.service  i.tf-ion-ios-bolt-outline{

}
.service-item i {
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 50px;
    opacity: .4;
}
.service-item {
    position: relative;
    padding-left: 0px;
}
.service-item h4{
    position: relative;
    padding-left: 65px;
    white-space: nowrap;
}
.service-item p{
    padding-left: 65px;
}
.service-item h4::before{
    content: ' ';
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.service-item h4.icon01::before{
    background-image: url(../images/icon01.png);
}
.service-item h4.icon02::before{
    background-image: url(../images/icon02.png);
}
.service-item h4.icon03::before{
    background-image: url(../images/icon03.png);
}
.service-item h4.icon04::before{
    background-image: url(../images/icon04.png);
}
.service-item h4.icon05::before{
    background-image: url(../images/icon05.png);
}
.service-item h4.icon06::before{
    background-image: url(../images/icon06.png);
}


@media (max-width: 575px) {
    .service_icon_container{
        padding: 0px 30px;
    }
    .service-item h4{
        white-space: unset;
    }
    .footer-bottom h5{
        letter-spacing: 0px;
        font-size: 10px;
    }
    .service-item {
        display: block;
    }
    .logo-default, .logo-white {
      height: 50px;
    }
    .px-mobile{
        padding: 0px 64px;
    }
  }
  @media (max-width: 1200px) {
  .googlemap-contactus{
    width: 100%;
    position: relative;
    top:unset;
    left: unset;
    margin-left: unset;

  }
}